<html>
    <body>
        <h1>TEST HOTEL DATABASE</h1>
                                                                  
        <button type="button" action="/guest" method="POST">GUEST VIEW</button>
        <button type="button" action="/room">ROOM VIEW</button>
        <button type="button" action="/staff">STAFF VIEW</button>
    </body>
</html>